#lockitron_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}
#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;
}

.header-links
{
  float: right;
  line-height: 42px;
  color: #8b8a8a;
  font-size: 18px;
}

.header-links > a
{
  margin-left: 20px;
}

.header-links > a.blue_button
{
  margin-top: 5px;
  padding: 15px;
  border: none;
  display: inline !important;
  cursor: pointer;
}
